

*{
  margin:0;
  padding: 0;
  background-color: black;
  color: #ffffff;
  overflow-y: hidden; /* Hide horizontal scrollbar */
}

.app{
  min-height: 100vh;
  max-height: auto;
  background-color: #1e1e1e;
  width: 100%;
  
}

 
.result{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 14%;
  gap: 10px;
  overscroll-behavior-inline: contain;
  color: beige;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  

}

.posterPic {
  width: 100%;
  -webkit-filter: contrast(1.25);
  filter: contrast(1.25);
}

.result:-webkit-scrollbar {
  display: none;
}

.leftButton{
  position: absolute; 
  padding: 129px 20px 129px 20px;
  border: 1px solid red;
  background-color: blue;
  opacity: 0.5;
}

.RightButton{
  position: absolute;
  right: 0px; 
  padding: 129px 20px 129px 20px;
  border: 1px solid red;
  background-color: blue;
  opacity: 0.7;
}

.icons:hover {
  background-color: grey;
}

button {
  color: pink;
}


.overlay {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  image-rendering: pixelated
} 

.coverPicture {
  color: white;
  object-fit: cover;
  width: 100%;
  height: 618px;
}

.coverInfo{
  position: relative;
  top: 30px;
  background-color: transparent;
  
}
h1 {
  background-color: transparent;
}
p{
  background-color: transparent;
  word-wrap: break-word;
  width: 400px;
}

.moreInfo {
  position: absolute;
  top: 0px;
  left: 175px;
  width: 1150px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
  
}

.moreInfoImage {
  width: 73.8vw;
  height: 550px;
  position: fixed;
  object-fit: contain;
  
  
}

.ipsum {
  position: relative;
  top: 550px;
  color: black;
  
  

}

.filte {
  position: absolute;
  top: 539px;
  width: 100%;
  box-shadow: 0px -25px 10px 38px rgba(0, 0, 0, 0.5);
  color: white;
  
  
  
}

.movieTitle {
  position: absolute;
  bottom: 303px;
  font-size: 43px;
  margin-left: 40px;
}

.release_data {
  position: absolute;
  bottom: 280px;
  margin-left: 40px;
  background-color: transparent;

}
.icon {
  margin-left: 40px;
  background-color: transparent;
  font-size: 60px;
}

.recommendationCover {
  width: 100%;
  border: 10px solid red;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.recommendationPics {
  min-width: 100%;
  color: aqua;
  height: auto;
  
}

.recommendationPic{
  min-width: 90%;
  height: auto;
  object-fit: cover;
  border: 1px solid red;
}